@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --cor__primaria: #7E22C3;
}

@layer base {
    body {
        @apply dark:bg-background dark:text-white max-w-screen-2xl m-auto duration-300 relative;
    }

    body p {
        @apply 2xl:text-lg;
    }
    
    html {
        scroll-padding-top: 10px;
        scroll-behavior: smooth;
    }
  :root {
        --radius: 0.5rem;
    }
}